<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Spare Part Name </mat-label>
        <input
          matInput
          name="name"
          type="text"
          [(ngModel)]="createSparePart.sparePartName"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Spare Part Quantity </mat-label>
        <input
          matInput
          name="sparePartQuantity"
          type="number"
          [(ngModel)]="createSparePart.sparePartQuantity"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Spare Part Price </mat-label>
        <input
          matInput
          name="sparePartPrice"
          type="number"
          [(ngModel)]="createSparePart.sparePartPrice"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Category</mat-label>
        <mat-select
          [(ngModel)]="createSparePart.sparePartCategoryID"
          name="sparePartCategoryID"
        >
          @for(part of sparePartCategories; track part) {
          <mat-option [value]="part.spareCategoryId">{{
            part.spareCategoryName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" (click)="create()">
        Create Spare Part
      </button>
    </div>
  </form>
</div>
