<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Title </mat-label>
        <input
          matInput
          name="title"
          type="text"
          [(ngModel)]="editSparePart.sparePartName"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Spare Part Price </mat-label>
        <input
          matInput
          name="sparePartPrice"
          type="number"
          [(ngModel)]="editSparePart.sparePartPrice"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Spare Part Quantity </mat-label>
        <input
          matInput
          name="sparePartQuantity"
          type="number"
          [(ngModel)]="editSparePart.sparePartQuantity"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Category</mat-label>
        <mat-select
          [(ngModel)]="editSparePart.sparePartCategoryID"
          [(value)]="editSparePart.sparePartCategoryID"
          name="Category"
        >
          @for(sparePartCategory of sparePartCategories; track
          sparePartCategory) {
          <mat-option [value]="sparePartCategory.spareCategoryId">{{
            sparePartCategory.spareCategoryName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-around">
      <button mat-raised-button (click)="home()">Go Home</button>
      <button mat-raised-button color="primary" (click)="edit()">Save</button>
    </div>
  </form>
</div>
